In [1]:
import nltk
from nltk.tokenize import word_tokenize, RegexpTokenizer
from nltk.corpus import stopwords
import enchant
import pandas as pd
import os
import re
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Micha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
def Remove_stop_words(data):
    stop_words = set(stopwords.words('english'))
    data = [w for w in data if not w.lower() in stop_words]
    return data

In [91]:
def Replace_all_numbers(data):
    if type(data) == type([]):
        data = " ".join(data)
        
    data = re.sub('(\d+\s)+','number', data)
    
    return data.split(" ")

In [53]:
def Find_words(data):
    d = enchant.Dict("en_US")
    return [word for word in data if(word !='' and  d.check(word))]

In [83]:
def Formating(data):
    # Bierzemy wszystko po pierwszych 2 enterach czyli po opisie technicznym
    formated = data.split('\n\n')[1:]
    formated = ' '.join(formated).lower() # zamiana na małe litery
    
    # Wyrzucamy wszystkie wyrażenia słowo.słowo i adresy mail
    formated = re.sub('((\w+\.)+\w+)|\w+@\w+','', formated)
    
    # Ekstraktujemy słowa z tekstu
    tokenizer = RegexpTokenizer(r"\w+")
    formated= tokenizer.tokenize(formated)
    
    # Podmieniamy wszystkie liczby i ciągi liczb na number 
    formated = Replace_all_numbers(formated)
    
    # Wybieramy słowa z języka angielskiego
    formated = Find_words(formated)
    
    # Usuwamy stop wordsy
    formated = Remove_stop_words(formated)
    
    return ' '.join(formated)

In [89]:
list = []
# ścieżka do plików
p = os.getcwd()+'\data'
for folder in os.listdir(p):
    mails = os.listdir(p + '/' + folder)
    for mail in mails:
        path = p + '/' + folder + '/' + mail
        with open(path) as file:
            data = file.read()
        text = Formating(data)
        list.append([text, mail, folder])

In [90]:
df = pd.DataFrame(list, columns = ["Text", "File","Cluster"])
df

,Text,File,Cluster
0,archive name atheism resources alt atheism arc...,49960,alt.atheism
1,archive name atheism introduction alt atheism ...,51060,alt.atheism
2,article writes well john quite different neces...,51119,alt.atheism
3,kings become philosophers philosophers become ...,51120,alt.atheism
4,article bob writes hate economic terrorism pol...,51121,alt.atheism
...,...,...,...
19992,article writes mean stretching possible includ...,84566,talk.religion.misc
19993,article peter lamb writes com john e king writ...,84567,talk.religion.misc
19994,article bill writes would like understand bett...,84568,talk.religion.misc
19995,article danger anti cult groups expose lot dec...,84569,talk.religion.misc
19996,article bill writes wrote thoughts jack go par...,84570,talk.religion.misc